accelerate
transformers
langchain-core
langchain-community
faiss-cpu
langchain-huggingface
langchain-groq
langchain
chatsynth_vanshajr
fastapi
uvicorn
pydantic
beautifulsoup4
requests
python-dotenv
unstructured
playwright
